<div class="wrapper">
    <header>
        <div class="container">
            <div id="logo">Logo Here</div>
				
        </div>
    </header>
		
    <a id="scrollToTop" class="hide" href="#"><i class="fa fa-arrow-circle-up"></i></a>
	
</div>