<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="Hackathon.Accounts.DependencyInjectionConfigurator, Hackathon.Accounts" />
        </services>
        <settings>
            <setting name="Media.RequestProtection.Enabled" >
                <patch:attribute name="value" value="false" />
            </setting>
        </settings>
    </sitecore>
</configuration>